@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  width: 200px;
  gap: 10px;
}

.contact-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius:3px;
}

.contact-form textarea {
  resize: horizontal;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}